.punch-img {
  position: absolute;
  bottom: 20px;
  transform: rotate(45deg);
}

.heart-img {
  position: absolute;
  top: 0;
  left: 100%;
  animation: verticalWave 0.5s ease-in-out infinite,
    horizontalMove 2s linear infinite;

  &.enemy {
    top: 100%;
    left: -20px;
    animation: verticalWave 0.5s ease-in-out infinite,
      horizontalMoveEnemy 2s linear infinite;
  }

  @keyframes verticalWave {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }

  @keyframes horizontalMove {
    0% {
      left: 100%;
    }
    100% {
      left: 300%;
    }
  }

  @keyframes horizontalMoveEnemy {
    0% {
      left: -20px;
    }
    100% {
      left: -300%;
    }
  }
}
