.Stage {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  width: 100%;
  height: 100%;

  .view {
    width: 100%;
    padding: 15px;
  }
}
