.Stage {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  width: 100%;
  height: 100%;

  .view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    width: 100%;

    .hp-bar {
      width: 140px;
      height: 10px;
      border-radius: 8px;
      box-shadow: 0 0 0 2px white;

      .value {
        height: 100%;
        border-radius: 8px;
        background-color: var(--green-1);
        transition: 0.3s;
      }
    }

    .staus-row {
      width: 100%;
      display: flex;
      column-gap: 20px;
      padding: 0 20px;

      &.align-right {
        justify-content: flex-end;
      }

      .introduce {
        font-size: 20px;

        strong {
          font-weight: bold;
          color: var(--yellow-1);
        }
      }

      .img {
      }
    }
  }

  .control {
    width: 100%;
    height: 100%;
    padding: 20px;
    margin-top: 20px;

    .menu {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 10px;

      li {
        font-size: 25px;

        button {
          width: 100%;
          padding: 10px 20px;
          background-color: rgb(54, 54, 54);
          border-radius: 10px;
          transition: 0.1s;

          &:active {
            scale: 0.97;
          }
        }
      }
    }
  }
}
