.Entry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;

  .menu {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    transform: translateY(50px);
  }
}
