// 기본 스타일 제거

*,
*::before,
*::after {
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100vh;
  background-color: var(--background-1);
  color: var(--font-color-1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  all: unset;
  display: inline-block;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

input {
  all: unset;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}

// 공통 스타일

:root {
  --yellow-1: rgb(255, 213, 0);
  --yellow-2: rgb(199, 166, 0);
  --blue-1: rgb(0, 110, 255);
  --green-1: rgb(0, 211, 46);
}

.my-overlay {
  background-color: var(--yellow-1);
  border-radius: 6px;
  box-shadow: 0 2px 8px 0 rgb(95, 95, 95);
  padding: 2px 4px;
  color: rgb(0, 0, 0);
  font-size: 13px;
  transform: translateY(-55px);
}

.cat-overlay {
  background-color: white;
  color: black;
  border-radius: 6px;
  box-shadow: 0 2px 5px 0 rgb(95, 95, 95);
  padding: 2px 4px;
  font-size: 14px;
  transform: translate(15px, -40px);

  strong {
    color: var(--blue-1);
    font-weight: bold;
  }
}
