.Map {
  position: relative;

  .loading {
    position: absolute;
    z-index: 99;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 55px;

    box-shadow: 0 0 0 1px red;

    background-color: white;
    /* 가로 마스크와 세로 마스크를 동시에 적용 */
    mask-image: linear-gradient(
        to right,
        transparent,
        black 20%,
        black 80%,
        transparent
      ),
      linear-gradient(to bottom, transparent, black 30%, black 70%, transparent);
    /* 두 마스크가 겹치는 부분만 보여줌 */
    -webkit-mask-composite: source-in;
    mask-composite: intersect;

    font-size: 16px;
    font-weight: bold;
    color: rgb(66, 66, 66);

    span {
      animation: hover 1s infinite;

      @for $i from 1 through 15 {
        &:nth-child(#{$i}) {
          animation-delay: ($i - 1) * 0.1s;
        }
      }
    }

    @keyframes hover {
      0% {
        transform: translateY(0);
      }
      20% {
        transform: translateY(-5px);
      }
      40% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(0);
      }
    }
  }

  .map-content {
    width: 100%;
    height: 100%;
  }

  .buttons {
    z-index: 9;
    position: absolute;
    top: 0;
    right: 4px;
    display: flex;
    column-gap: 5px;
    margin-top: 10px;
  }
}
