.Map {
  position: relative;

  .loading {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    background-color: rgba(59, 59, 59, 0.479);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;

    span {
      animation: hover 1s infinite;

      @for $i from 1 through 15 {
        &:nth-child(#{$i}) {
          animation-delay: ($i - 1) * 0.1s;
        }
      }
    }

    @keyframes hover {
      0% {
        transform: translateY(0);
      }
      20% {
        transform: translateY(-5px);
      }
      40% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(0);
      }
    }
  }

  .map-content {
    width: 100%;
    height: 100%;
  }

  .buttons {
    display: flex;
    column-gap: 5px;
    margin-top: 10px;

    button {
      padding: 10px 15px;
      font-size: 16px;
      font-weight: 600;
      border-radius: 8px;
      border: 0;
    }
  }
}
