.Test {
  height: 100vh;
  background-color: rgb(31, 31, 31);
  color: white;

  .map {
    width: 100%;
    height: 500px;
    padding: 10px;
  }

  .img-popup {
    z-index: 99;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);

    .content {
      // box-shadow: 0 0 0 1px red;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      .close-btn {
        position: absolute;
        top: 100px;
        right: 60px;
        font-weight: bold;
        font-size: 24px;
      }

      .img {
        object-fit: contain;
      }
    }
  }
}
