.Control {
  width: 100%;
  padding: 0 15px;
  margin-top: 20px;

  .dialog {
    position: relative;
    border-radius: 16px;
    background-color: white;
    color: black;
    border: 2px dashed black;
    outline: 1px solid;
    outline-offset: -5px;
    transition: 0.1s;
    padding: 15px;

    .guide-text {
      position: absolute;
      top: 8px;
      right: 14px;
      color: gray;
      font-size: 14px;
    }

    .speaker {
      width: 100%;
      font-weight: bold;
      font-size: 22px;
      margin-bottom: 10px;
    }

    .text {
      font-size: 18px;

      p {
        position: relative;
        white-space: pre-wrap;

        &::after {
          content: "";
          position: absolute;
          height: 18px;
          width: 3px;
          transform: translate(4px, 5px);
          background-color: rgb(63, 63, 63);
          animation: blink 0.8s infinite;
        }
      }
    }

    @keyframes blink {
      0%,
      100% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
    }
  }

  .menu {
    width: 100%;

    ul {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }
  }
}
