.Control {
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 0 0 1px red;

  .menu {
    width: 100%;

    ul {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }
  }
}
