.Dialog {
  z-index: 9999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;

  .content {
    padding: 20px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    width: 100%;
    max-width: 400px;
    white-space: pre-wrap;

    .title {
      font-weight: bold;
      font-size: 25px;
      margin-bottom: 20px;
    }

    .sub-title {
      font-size: 16px;
      margin-bottom: 30px;
    }

    strong {
      font-weight: bold;
    }
  }
}
