.Player {
  width: 100%;
  display: flex;
  column-gap: 15px;
  color: white;
  justify-content: space-between;

  .introduce {
    font-size: 15px;

    &.me {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    li {
      display: flex;
      align-items: center;
    }

    .label {
      width: 40px;
    }

    strong {
      font-weight: bold;
      color: var(--yellow-1);
    }

    .hp {
      .hp-bar {
        width: 100px;
        height: 6px;
        border-radius: 8px;
        box-shadow: 0 0 0 1px white;

        .bar {
          height: 100%;
          border-radius: 8px;
          background-color: var(--green-1);
          transition: 0.3s;
        }
      }

      .value {
        display: flex;
        justify-content: center;
        margin-top: 3px;
        font-size: 13px;
      }
    }
  }

  .cat {
    position: relative;
  }

  .imgs {
    position: relative;

    .cat-img {
      &.hit {
        animation: hit 0.5s;
      }
    }

    @keyframes hit {
      0% {
        transform: translateX(0);
      }
      33% {
        transform: translateX(-10px);
      }
      66% {
        transform: translateX(10px);
      }
      100% {
        transform: translateX(0);
      }
    }
  }
}
