.Player {
  width: 100%;
  display: flex;
  column-gap: 15px;
  color: white;

  &.align-right {
    justify-content: flex-end;
  }

  .introduce {
    font-size: 15px;

    &.me {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    li {
      display: flex;
      align-items: center;
    }

    .label {
      width: 40px;
      // box-shadow: 0 0 0 1px red;
    }

    strong {
      font-weight: bold;
      color: var(--yellow-1);
    }

    .hp {
      .hp-bar {
        width: 140px;
        height: 10px;
        border-radius: 8px;
        box-shadow: 0 0 0 2px white;
        margin-left: 2px;

        .bar {
          height: 100%;
          border-radius: 8px;
          background-color: var(--green-1);
          transition: 0.3s;
        }
      }

      .value {
        margin-left: 10px;
      }
    }
  }

  .imgs {
    position: relative;

    .cat-img {
      &.hit {
        animation: hit 0.5s;
      }

      &.shake {
        animation: shake 2s;
      }
    }

    @keyframes hit {
      0% {
        transform: translateX(0);
      }
      33% {
        transform: translateX(-10px);
      }
      66% {
        transform: translateX(10px);
      }
      100% {
        transform: translateX(0);
      }
    }

    @keyframes shake {
      0% {
        transform: rotate(0);
      }
      33% {
        transform: rotate(45deg);
      }
      66% {
        transform: translateX(-45deg);
      }
      100% {
        transform: translateX(0);
      }
    }
  }
}
