.FindCat {
  height: 100vh;

  .map {
    width: 100%;
    height: 400px;
    border: 5px dashed var(--yellow-1);
    border-radius: 14px;
  }

  .menu {
    display: flex;
    flex-direction: column;
    padding: 10px;
    // box-shadow: 0 0 0 1px blue;

    .buttons {
      display: flex;
    }

    .content {
      position: relative;
      margin-top: 10px;
      padding: 10px;
      min-height: 150px;
      max-height: 400px;
      overflow-y: auto;
      border: 2px solid black;
      outline: 1px solid;
      outline-offset: -5px;

      .close-button {
        position: absolute;
        top: 8px;
        right: 8px;
        padding: 2px 14px;
        border: 1px solid black;
        border-radius: 10px;
      }

      ul {
        display: flex;
        flex-direction: column;
        row-gap: 6px;

        li {
          display: flex;
          column-gap: 10px;
          align-items: center;
          font-weight: bold;

          &:not(:last-of-type)::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -10px;
            width: 100%;
            background-color: blue;
          }
        }
      }

      .empty {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        font-size: 16px;
      }
    }
  }

  .img-popup {
    z-index: 99;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.85);

    .content {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      .close-btn {
        position: absolute;
        top: 30px;
        right: 40px;
        font-weight: bold;
        font-size: 24px;
      }

      .view {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        box-shadow: 0 0 0 5px forestgreen;

        .cat-row {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          box-shadow: 0 0 0 1px blue;

          .cat {
            box-shadow: 0 0 0 1px yellow inset;
          }
        }

        .me-row {
          width: 100%;
          box-shadow: 0 0 0 1px blue;

          .me {
            box-shadow: 0 0 0 1px yellow inset;
          }
        }
      }

      .menu {
      }
    }
  }
}
